:root {
  --light-grey: #b5b5b5;
}
html {
  height: 100vh;
  color: rgb(37, 37, 37);
}

body {
  background: linear-gradient(#202060, #5732a4);
  padding: 0;
}

label {
  padding-right: 10px;
  font-size: 80%;
}

.title {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  font-size: 125%;
}

/* ------------ Header ------------ */

#logo {
  margin-right: 10px;
}

#header {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  font-weight: 900;
  user-select: none;
}

@media (orientation: portrait) {
  #header {
    font-size: 20px;
    justify-content: center;
    padding: 10px 0 20px 0;
  }
}

/* ------------ Layout ------------ */

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.row {
  display: flex;
}

.video-container {
  display: flex;
  flex-direction: column;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  box-shadow: 10px 10px 28px -14px rgba(0, 0, 0, 0.75);
  padding: 10px;
  background-color: white;
  width: 30vw;
  margin: 10px;
}
